<footer class="footer-area">
    <!--footer-top-->
    <div class="footer-widgets">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget">
                        <h4>About Company</h4>
                        <div class="about-widget">
                            <p>It is a long established fact that a reader will be distracted by readable content of a page when looking at layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget">
                        <h4>Twitter Feed</h4>
                        <div class="twitter-feed">
                            <ul class="list-none">
                                <li>
                                    <ul class="list-none inline-list">
                                        <li><a href="#"><i class="social_twitter"></i>Thegarden</a> <span>|</span></li>
                                        <li>8 months ago</li>
                                    </ul>   
                                    <p>It's an exclusive offer. Varmo Magento Multipurpose Responsive Theme</p>
                                </li>
                                <li>
                                    <ul class="list-none inline-list">
                                        <li><a href="#"><i class="social_twitter"></i>Thegarden</a> <span>|</span></li>
                                        <li>8 months ago</li>
                                    </ul>   
                                    <p>It's an exclusive offer. Varmo Magento Multipurpose Responsive Theme</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget">
                        <h4>Instagram</h4>
                        <div class="instagram-imgages">
                            <a href="#"><img src="assets/images/instagram/1.jpg" alt="instagram" /></a>
                            <a href="#"><img src="assets/images/instagram/2.jpg" alt="instagram" /></a>
                            <a href="#"><img src="assets/images/instagram/3.jpg" alt="instagram" /></a>
                            <a href="#"><img src="assets/images/instagram/4.jpg" alt="instagram" /></a>
                            <a href="#"><img src="assets/images/instagram/5.jpg" alt="instagram" /></a>
                            <a href="#"><img src="assets/images/instagram/6.jpg" alt="instagram" /></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget">
                        <h4>Working Hours</h4>
                        <div class="work-hours">
                            <ul class="list-none">
                                <li>Monday <span>07:00-17:00</span></li>
                                <li>Tuesday <span>07:00-17:00</span></li>
                                <li>Wednesday <span>07:00-17:00</span></li>
                                <li>Thursday <span>07:00-17:00</span></li>
                                <li>Friday <span>07:00-17:00</span></li>
                                <li>Saturday <span>07:00-17:00</span></li>
                                <li>Sunday <span>CLOSE</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--footer copyright-->
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p>Copyright &copy; 2019 The Garden. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>